PORT=3000
NODE_ENV=development

# Database Setup
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=prime_trade_db

# Prisma Database URL
DATABASE_URL="postgresql://admin:password@localhost:5432/prime_trade_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Security / Auth
JWT_SECRET=super_secret_jwt_key_here_change_in_prod
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=super_secret_refresh_key_here_change_in_prod
JWT_REFRESH_EXPIRES_IN=7d
